body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}


h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p, ol, ul, td, label {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.navbar {
  border-bottom: 1px #e8e8e8 solid;
}

.btn {
  &:visited {
    color: #f2f2f2;
  }
}

.btn-signup {
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:visited {
    color: #8498C2;
  }

  &:hover {
    background-color: #ddd;
  }
}

.btn-filters {
  padding: 0.2rem 0.75rem;
  &:hover {
    border-color: #a9a9a9;
  }
}

.btn-filter {
    background-color: #ddd;
  }

.btn-reset {
    background-color: #000;
  }

label {
  display: block;
  margin-bottom: .3em;
}
